
# This file specifies intentionally untracked
# files that Git should ignore.

# IDEA IDE
*.ipr
*.iml
*.iws
.idea/
out/

# Gradle
.gradle/
.gradletasknamecache
build/
target/
lib/

# temporary runtime artifacts
work/
logs/
tmp/

# generated content
generated/

# Emacs
*#
*~
